.header {
  /* background-color: lightgreen; */
  background: #24292F;
}
.title
{
  color: white;
}
.btn
{
  border: 1px solid white;
  background-color: transparent;
  color: white;
}
.right
{
  text-align: right;
}
.dark-btn
{
  background-color: #24292F;
  color: white  ;
}
.footer {
  /* background-color: lightgray; */
  background-color: #24292F;
  height: 50px;
}

.cls {
  /* background-color: lightyellow !important; */
  background-color: #9cedf9 !important;
  border-width: 2px !important;
  border-color: black !important;
  transition: transform .2s;
  border-radius: 50px !important;

}

.cls:hover {
  transform: scale(1.015);

}

.cls1 {
  min-height: 455px;
}

.cls2 {
  height: 390px !important;
  background-color: lightyellow !important;
  background-color: #9cedf9 !important;
  border-width: 2px !important;
  
  border-color: black !important;
  margin-top: 10px;
}

.cls3 {
  margin-bottom: 4px;
}

.cls4 {
  transition: transform .2s;
  border-radius: 50% !important;
}

.cls4:hover {
  transform: scale(1.32);
}

.cls5 {
  min-height: 478px;
}

.cls6:link {
  text-decoration: none;
  color: black
}

.cls6:hover {
  color: black !important;
}